<!-- start custom head snippets -->

<link rel="apple-touch-icon-precomposed" sizes="512x512" href="/assets/lion.ico/polygonal-lion-face-512-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/lion.ico/polygonal-lion-face-152-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/lion.ico/polygonal-lion-face-144-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/lion.ico/polygonal-lion-face-120-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/lion.ico/polygonal-lion-face-114-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/lion.ico/polygonal-lion-face-72-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="64x64" href="/assets/lion.ico/polygonal-lion-face-64-244227.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/lion.ico/polygonal-lion-face-57-244227.png">
<link rel="icon" sizes="32x32" href="/assets/lion.ico/polygonal-lion-face-32-244227.png">
<link rel="icon" sizes="24x24" href="/assets/lion.ico/polygonal-lion-face-24-244227.png">
<link rel="icon" sizes="16x16" href="/assets/lion.ico/polygonal-lion-face-16-244227.png">

<!-- end custom head snippets -->
